/* This is what is copy pasted into the stylish code section */

/* Import the file that imports the other modules */
@import url('https://drungip.github.io/css/discordThemes/test_imports.css');

/* Root vars */
:root {
  /* RadialStatus */
  --rs-small-spacing: 2px;  /* spacing between avatar and status // DEFAULT = 2px */
  --rs-large-spacing: 3px;  /* same as above but for user popouts & profiles // DEFAULT = 3px */
  --rs-width: 2px;  /* Width/thickness of status border // DEFAULT = 2px */
  --rs-avatar-shape: 50%;  /* 50% for round - 0% for square // DEFAULT = 50% */
  --rs-online-color: #f386e5;  /* online color // DEFAULT = #43b581 */
  --rs-idle-color: #7db2fa;  /* idle color // DEFAULT = #faa61a */
  --rs-dnd-color: #86eb88;  /* dnd color // DEFAULT = #f04747 */
  --rs-offline-color: #636b75;  /* offline color // DEFAULT = #636b75 */
  --rs-streaming-color: #643da7;  /* streaming color // DEFAULT = #643da7 */
  --rs-invisible-color: #747f8d;  /* invisible color // DEFAULT = #747f8d /// Note: this only shows for ur own invisibility */


  /* BlurpleRecolor */
  --accentcolor: 178,143,249;  /* blurple // defaults: purple=178,143,249*/
  --linkcolor:  201,133,221;  /* link // defaults: purple=201,133,221*/

}
