/*
This is where the importing occurs 

- Makes updating easier for things like BlurpleRecolor and RadialStatus
- As well as update my custom theme (NicerDiscord) by just changing the discord file link
  • Might upload to github at a later date and update through that
*/

/**/ /* RADIAL STATUS IMPORT */
/**/ /* @import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"); */
/**/
/**/ /* CUSTOM ANIMATIONS IMPORT (updated 7/29) */
/**/ @import url('https://cdn.discordapp.com/attachments/834075798973186068/875429232111656990/NicerDiscord.theme.css');
/**/
/**/ /* BLURPLERECOLOR IMPORT */
/**/ @import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css');
/**/
/**/ /* MODERNINDICATORS IMPORT and FIX */
/**/ /* ModernIndicators (github?) import here */
/**/ @import url('https://drungip.github.io/StylishThemes/fatties/ModernIndicators_chrome_patch.css');
/**/
/**/ /* Super secret eastereggs */
/**/ @import url('https://cdn.discordapp.com/attachments/799694773937111051/855128007815594025/eastereggs_main.css');


/* Full width settings menu */
.sidebarRegion-VFTUkN,.sidebarRegionScroller-3MXcoP {flex: 0 0 auto;}
.contentColumnDefault-1VQkGM {max-width: unset;}
.contentColumn-2hrIYH .children-rWhLdy{width: 660px;}

/* radial status fix here since i refuse to reach out and tell her to fix it for me */
:root{
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 2px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */
}
